.nav{
    z-index: 1;
    position: relative;
    background-color: white;
    float: right;
}
img{
    padding: 2px;
    margin: 2px;
     border-radius: 8px;
}
.logo {
    width: 35px;        
    cursor: pointer;
    position: fixed;
    right: 10px;
    background-color: white;
     border-radius: 8px;
}
.logodropdown { 
    position: absolute;   
    top: 15px;            
    right: 183px;          
    display: inline-block;
    z-index: 1000;
    border-radius: 8px;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: -171px;
    background-color: #222;
    border: 1px solid #1a1a1a;
    padding: 10px;
    min-width: 150px;
    text-align: center;  
    z-index: 10000;
     border-radius: 8px;
}

.dropdown-content a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    text-align: center;
    z-index: 999998;
     border-radius: 8px;
}

.dropdown-content a:hover {
    background-color: #1a1a1a;
}

.logodropdown:hover .dropdown-content {
    display: block;
}